@import url('https://fonts.googleapis.com/css?family=Pacifico');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/cafe-img.jpeg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.resy-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.app-title {
  color: teal;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}
